*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header-container{
    width: 100%;
    height: 850px;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    background-position: bottom right, top left;
     }
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    /* padding-right: 100px; */
    padding-top: 50px ;
   
}
.banner-description{
    font-family: serif;
    
}
.flower{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-left: 150px;
    
    
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 150px;
    padding: 10px;

}
.btn-primary{
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: #E55473;
    margin-left: 150px;
    padding: 20px 20px;
    border: 0px;
    
}
.btn-primary:hover{
    background: #fc97aa;
}
.banner-img{
    margin-right: 150px;
    display: block;
    

}
.main-section{
    text-align: center;
    padding-top: 150px;

}
.main-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.main-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    padding: 15px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 18px;
    padding-top: 20px;
}
.img-info{
    width: 464px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
    
}
.img-info-1{
    width: 464px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}
.img-info-2{
    width: 464px;
    height: 470px;
    gap: 30px;
    padding: auto;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    

}
.img-pink{
    width: 310px;
    height: 428px;
    display: block;
    padding-bottom: 0px;
    
}
.title{
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 440px;
    align-items: center;
    color: #272727;
    margin-top: 8px;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.title{
    text-align: center;
    padding-bottom: 150px;
    margin: auto;
}
/* .loction-container{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 320px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    background-repeat: no-repeat;
   
} */
.loction{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 320px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    background-repeat: no-repeat;
   
}
.loction-info{
    margin: auto;
    text-align: center;
   
}
.roses{
    width: 100%;
    height: 620px;
    margin-top: 150px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.rose-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    gap: 30px;
}
.flower-title{
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    padding-right: 100px;

}

.off{
    color: red;
}
.btn{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 260px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 20px;
    border: 0px;
}
.btn:hover{
    background: #fc97aa;
}
.cards{
    display: flex;
    justify-content: center;
    padding-top:50px;
    gap: 20px;
    width: 342px;
    height: 396px;
    margin: auto;
  
}
