*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
 /* navbar starts here */
.nav-container{
    width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 25px;
    box-shadow: 0 1px 4px 0;
    margin: auto;
}  
/* .logo-img{
    width: 250px;
    height: 160px;
    align-items: center;
} */
.nav-bar ul{
    list-style: none;
    display: flex;
    font-size:18px;   
}
.nav-bar li a{
    color: white;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
    background: #E55473;
    margin-left: 15px;
    padding: 14px 18px;
    border: 0px;
}
.nav-bar li a:hover{
    background: #fc97aa;
}
/* navbar ends here */

/* header stards here */

/* section{
    padding: 60px 14% 70px;
} */

.header-container{
    max-width: 1920px;
    height: 850px;
    margin: auto;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    background-position: bottom right, top left;
     }  
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-top: 50px ;
    
   
}
.banner-description{
    font-family: serif;
    
}
.flower{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-left: 80px;
    
    
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 80px;
    padding: 10px;

} 
.btn-primary{
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: #E55473;
    margin-left: 250px;
    padding: 20px 20px;
    border: 0px;
    
}
.btn-primary:hover{
    background: #fc97aa;
}

.banner-img{
    width: 635px;
    height: 800px;
    display: block;
    

}
/* header ends here */

/*main section stards here */
.main-section{
    text-align: center;
    padding-top: 150px;

}
.main-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.main-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    padding: 15px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 25px;
}
.img-info{
    width: 400px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
    
}
.img-info-1{
    width: 400px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}
.img-info-2{
    width: 400px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    

}

.title{
    display: flex;
    justify-content: center;
    gap: 330px;
    align-items: center;
    color: #272727;
    margin-top: 8px;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-bottom: 150px;
}
.img-pink{
    padding-top: 42px;
}
.img-red{
    padding-top: 20px;
    align-items: center;
}

.loction{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 320px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    background-repeat: no-repeat;
   
}
.loction-info{
    margin: auto;
    text-align: center;
   
}
.roses{
    max-width: 1920px;
    height: 620px;
    margin-top: 150px;
    border-radius: 8px;
    margin: auto;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
}
.rose-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    gap: 30px;
}
.flower-title{
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    padding-right: 100px;

}

.off{
    color: red;
}
.btn{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 260px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 20px;
    border: 0px;
}
.btn:hover{
    background: #fc97aa;
}
.cards{
    display: flex;
    justify-content: center;
    padding-top:50px;
    gap: 20px;
    max-width: 342px;
    height: 396px;
    margin: auto;
    padding-bottom: 150px;
  
}
.search-box{
    max-width: 1440px;
    height: 449px;
    background-image: url("../images/rectangle13.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 150px;
    


} 

.search{
    padding-top: 100px;
}
/* .search-container {
     display: block;
    text-align: center;
    padding: 15px 15px 40px;
    color: #757575;
    border-radius: 10px;
    border: 0px;
    width: 30%;
    margin: auto;
    padding-top: 10px; 

} */
.email-info{
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 10px;
    border: 0px;
    width: 30%;
    margin: auto;
    padding-top: 10px;
}
.btn-subnit{
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 20px;
    border: 0px;
}
/*main section ends here */

/*footer section stards here */
.footer-container{
    max-width: 1920px;
    margin-bottom: 150px;
    margin: auto;
    height: 449px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 150px;
}
.copy-tag{
    font-size: 15px;
    padding-top: 50px;
    text-align: center;
    font-weight: 200;
    font-family: serif;
}
/*footer section ends here */